.header {
    background-color: #53b472;
    color: white;
}

.logo {
    max-width: 150px;
}

.navbar-toggler-icon {
    background-color: #53b472;
}

.nav-link{
    color: #ebebeb;
}


body {
    background-color: #ebebeb;
    margin: 0;
    font-family: LucidaConsole, Monospace;
    
}


.producto {

    text-align: center;
    background-color: lightgrey;
    
    border: 25px solid #53b472;
    padding: 20px;
    margin: 20px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 80px;
    

}

.parrafo {

    text-align: center;
    background-color: lightgrey;
    padding: 20px;
    margin: 80px;
    font-family: Papyrus, fantasy;

}

.productoOferta {

    text-align: center;
    background-color: lightgrey;
    border: 25px solid rgb(226, 127, 34);
    padding: 20px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 80px;
    

}






.logo{
    width: 300px;
}

.navegacion{
    display:flex;
}



.menu{
    padding: 4px 8px;
    
}

.navstyle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.conainermenu{
    display: flex;
}

.navfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-landing {
width: 1199px;
border-radius: 1rem;
border: 2px solid rgba(255,255,255,.8);
margin-bottom: 2rem;
background: rgba(255,255,255,.7);
box-shadow: 0 4px 24px 0 rgba(0,0,0,.15) inset, 0 4px 4px 0 rgba(0,0,0,.15);
}

body {
    padding: 0;
    margin: 0;
}

.izquierda{
    width:80%;
    padding-left: 40px;
    padding-top: 40px;
}

.derecha {
    width: 20%;

}

.pantalla-dividida{
    display:flex;
    background-image: url('../img/almacigo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.btn {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #53b472;
    padding: 10px 30px;
    border: solid #53b472 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    }


.buttoncontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.botonenviar{
    display: flex; justify-content: flex-start
}

.input {

    border-radius: 10px;
    display: flex;
    width: 70%;
}

.contenedoriframe{
    display:flex;flex-direction: column;
}

.inputbox{
    color:white;
    font-size: medium;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
        








body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.escaparateTienda {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

aside.categories {
    width: 20%;
    background-color: #f9f9f9;
    padding: 1rem;
    border-right: 1px solid #ccc;

    h2 {
        font-size: 1.5rem;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5rem;
            a {
                text-decoration: none;
                color: #333;
            }
        }
    }
}

.products-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem; 
}

.product {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;

    img {
        max-width: 100%;
    }

    h2 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }

    p {
        margin: 0.5rem 0;
    }

    button {
        background-color: #333;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
    }
}


@media (max-width: 800px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 450px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    aside.categories {
        width: 100%;
        border-right: none;
    }

    .products-grid {
        width: 100%;
        grid-template-columns: 1fr; 
    }

    .product {
        width: 100%;
        margin: 0.5rem 0;
    }
}

//pagina de "nosotros"

// Variables
$backgroundImage1: url('../img/rucula.jpg');
$backgroundImage2: url('../img/vision.jpg');
$primaryColor: #fff;
$sectionBackgroundColor1: #f0f0f0;
$sectionBackgroundColor2: #e0e0e0;
$sectionBackgroundColor3: #f0f0f0;
$sectionBackgroundColor4: #e0e0e0;

// Estilos generales para cada sección
.seccion {
    padding: 20px;
}

// primera sección
#seccion1 {
    background-image: $backgroundImage1;
    background-size: cover;
    background-position: center;
    color: $primaryColor;
    text-align: center;
    height: 70vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}



//segunda sección
#seccion2 {
    display: flex;
    background-color: $sectionBackgroundColor2;
    height: 50vh; 

    .izquierda {
        flex: 1;
        background-image: $backgroundImage2;
        background-size: cover;
    }

    .derecha {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    
    }

    @media (max-width: 800px) {
        .izquierda {
            display: none; 
        }
    }
}

//tercera sección
#seccion3 {
    background-color: $sectionBackgroundColor3;
    text-align: center;

    
}

//cuarta sección
#seccion4 {
    background-color: $sectionBackgroundColor4;
    text-align: center;

    
}


//footer

/* Estilos generales */
.bg-footer {
    background-color: #53b472;
    padding: 50px 0;
}

.text-white {
    color: #fff;
}

/* Estilos para los elementos dentro del footer */
footer {
    h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        li {
            margin-bottom: 8px;
        }
    }

    img {
        max-width: 100px;
        margin-top: 20px;
    }

    /* Media query para pantallas medianas  */
    @media (max-width: 768px) {
        h4 {
            font-size: 1.2rem;
        }

        img {
            max-width: 80px;
        }
    }

    /* Media query para pantallas pequeñas */
    @media (max-width: 576px) {
        padding: 20px 0;
        h4 {
            font-size: 1.1rem;
            margin-bottom: 5px;
        }

        ul {
            text-align: center;
            li {
                margin-bottom: 5px;
            }
        }
    }
}



.social-icons {
    list-style: none;
    padding: 0;
    text-align: center; 
    li {
        display: inline;
        margin-right: 10px;
        a {
            color: #fff; 
            font-size: 24px; 
            text-decoration: none;
            &:hover {
                color: #007bff; 
            }
        }
    }
}
